@import url('vars.css');


.first-section {
    background-color: var(--parentColor);
    width: 95%;
    height: 95vh;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.first-section h1 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 120px;
    letter-spacing: 15px;
    word-spacing: 20px;
}

.first-section h3 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 7px;
    word-spacing: 10px;
    line-height: 50px;
    color: var(--nameColor);
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 5px var(--nameColor);
}

.first-section .line {
    width: 890px;
    height: 1px;
    background-color: #fff;
}

.first-section .info {
    position: absolute;
    bottom: 0;
    width: inherit;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 60px 60px 0;
    /* Font Styles */
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 15px;
    letter-spacing: 3px;
    word-spacing: 4px;
    font-weight: bold;
    text-transform: uppercase;
}